<!doctype html>
<html lang="en">

<head>
       {{>headerlinks}}
</head>

<body>
 
  {{>navbar}}
  <!-- Main header -->
  <div class="container-fluid main_header">
    <div class="row"> 
      <div class="col-md-10 col-12 mx-auto align-items-center">
          <div class="row">
              <div class="col-md-6 col-12 main_header_right">
                <figure>
                  <img src="images/about.png" alt="ujjwal" class="img-fluid" title="ujjwal bhatt">
                </figure>
              </div>
            <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to weather app</p>
                <h1>I am A  <span class="txt_clr">Mern Stack Developer</span>, Youtuber <br> And a Freelancer</h1>
                <a href="/about"><button>ABOUT ME</button></a>
            </div> 
      
          </div>
      </div>
    </div>
  </div>


  <!-- Footer code  -->

  {{>footer}}
</body>

</html>